SimpleFriq.csproj
obj/project.assets.json
obj/project.nuget.cache
obj/SimpleFriq.csproj.nuget.dgspec.json
obj/SimpleFriq.csproj.nuget.g.props
obj/SimpleFriq.csproj.nuget.g.targets
README.md
bin/Debug/net7.0/SimpleFriq
bin/Debug/net7.0/SimpleFriq.deps.json
bin/Debug/net7.0/SimpleFriq.dll
bin/Debug/net7.0/SimpleFriq.pdb
bin/Debug/net7.0/SimpleFriq.runtimeconfig.json
obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
obj/Debug/net7.0/apphost
obj/Debug/net7.0/SimpleFriq.AssemblyInfo.cs
obj/Debug/net7.0/SimpleFriq.AssemblyInfoInputs.cache
obj/Debug/net7.0/SimpleFriq.assets.cache
obj/Debug/net7.0/SimpleFriq.csproj.AssemblyReference.cache
obj/Debug/net7.0/SimpleFriq.csproj.CoreCompileInputs.cache
obj/Debug/net7.0/SimpleFriq.csproj.FileListAbsolute.txt
obj/Debug/net7.0/SimpleFriq.dll
obj/Debug/net7.0/SimpleFriq.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net7.0/SimpleFriq.genruntimeconfig.cache
obj/Debug/net7.0/SimpleFriq.GlobalUsings.g.cs
obj/Debug/net7.0/SimpleFriq.pdb
obj/Debug/net7.0/ref/SimpleFriq.dll
obj/Debug/net7.0/refint/SimpleFriq.dll
